@{
    ViewData["Title"] = "About";
}
<h2 style = "background-color:MediumSeaGreen" >@ViewData["Title"] </h2>
<h3>@ViewData["Message"]</h3>


<p>How to use this site:</p>
<p>
    We have different kinds of betting called (marketplaces).<br>
    Through these marketplaces you can bet on different things. For example:<br>
    Betting on the who the winner might be.<br>
    Betting on the goal outcome of the match.
    
</p>

<img >
