@{
    ViewData["Title"] = "Contact";
}
<h2 style = "background-color:MediumSeaGreen">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    Tsarigradsko shose 115K entrance B floor 6<br />
    <abbr title="Phone">P:</abbr>
    0898989891
</address>




<address>
    <strong>Support:</strong> <a href="mailto:howaboutno@gmail.com">stanirov@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">stanirov@gmail.com</a>
</address>

<img src="~/images/sbtechlogo_174121237.png" alt="SBTech Logo" style="width:300px;height:200px">